@import url('https://fonts.googleapis.com/css?family=PT+Sans');

$mainWidth: 400px;

div.mainHeader {
      text-align: right;
      margin: auto;
      width: $mainWidth;
      margin-top: 18%;

      h1 {
            text-align: right;
            font-family: 'PT Sans', sans-serif;
            font-size: x-large;
            color: white;
            background-color: black;
            padding: 1px 5px 1px 30px;
            display: inline-block;
      }

      img.logo {
            width: $mainWidth / 3;
            display: block;
            margin-left: auto;
      }
}