div.inputBlock {
    width: 400px;
    margin: auto;
}

div.passwordOutput {
    text-align: center;
    margin-top: 40px;
    font-weight: bold;
    font-size: large;
    -webkit-transition: box-shadow 0.2s;
    transition: box-shadow 0.2s;
}

div.passwordOutput:hover {
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

div.outerBlock {
    margin-top: 20%;
}

div.generateButtonBlock button {
    width: 25%;
}