<div class="outerBlock">
  <div class="inputBlock">
    <div class="form-group">
      <label class="sr-only" for="pwGenKey">Key</label>
      <input type="text" class="form-control" id="pwGenKey" placeholder="Key" #key>
    </div>
    <div class="form-group">
      <label class="sr-only" for="pwGenKey">Key</label>
      <input type="password" class="form-control" id="pwGenKey"placeholder="Master-Password" class="pwInput form-control" #masterPassword>
    </div>
    <button (click)="generatePw(key, masterPassword)" type="button" class="btn btn-block btn-primary">Generate!</button>
    <br />
    <div class="alert alert-info passwordOutput" role="alert" *ngIf="generatedPassword">
      {{generatedPassword}}
    </div>
  </div>
</div>