<div class="settings-panel">
    <div *ngIf="!_loggedIn">
      <a #googleSignin (click)="googleSignIn($event)" class="google-login" href="#">
        <fa [name]="'google'" class="google-g"></fa> Sign in with Google
      </a>
    </div>
    <div *ngIf="_loggedIn" class="list">
      <div class="welcome" [ngStyle]="getWelcomeTextColour()">
        Hello <strong>{{ _user }}</strong>! 
        <fa (click)="googleSignOut($event)" [name]="'sign-out'" class="logout"></fa>
      </div>
      <ul class="list-group settings-list">
        <li class="list-group-item new-setting-item">
          <div class="new-setting-form">
            <div class="form-group">
              <label class="sr-only" for="setting-name">Name</label>
              <input #newSettingName type="text" name="setting-name" placeholder="Save new setting" />
            </div>
            <div class="save-setting-group btn-group-justified btn-group" role="group">
              <button (click)="saveSetting(newSettingName, 0)" type="button" class="btn btn-primary">E</button>
              <button (click)="saveSetting(newSettingName, 2)" type="button" class="btn btn-danger">N</button>
              <button (click)="saveSetting(newSettingName, 3)" type="button" class="btn btn-success">S</button>
            </div>
          </div>
        </li>
        <li *ngFor="let s of _settings" (click)="selectSetting(s.name, s.algorithm)" 
          class="list-group-item list-group-item-action setting-item">
          <div>{{ s.name }} 
            <span [ngClass]="getBadgeClass(s.algorithm)">{{ getBadgeText(s.algorithm) }}</span>
            <fa (click)="removeSetting(s.name)" [name]="'times-circle-o'" class="remove-setting"></fa>
          </div>
        </li>
      </ul>
    </div>
</div>